* {
    margin: 0px;
    padding: 0px;
}

body {
    --theme: rgb(41, 41, 41);
    --background: rgb(110, 118, 152);
    background-color: var(--theme);
    color: white;
    padding: 50px;
}

img {
    border-radius: 15px;
}

.card-info{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    row-gap: 5px;
    background-color: var(--background);
    padding: 20px;
    position: relative;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

button {
    color: white;
    background-color: var(--theme);
    border: 0px;
    min-width: 100px;
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(77, 77, 77);
}

.cards-items {
    display: grid;
    grid-template-columns: 45% 45%;
    max-width: 100%;
    column-gap: 10%;
    row-gap: 10px;
}

@media screen and (max-width: 900px) {
    .cards-items {
        grid-template-columns: 100%;
    }
}


.app-divider {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
}

.cart, .control-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-width: 20vw;
}

.cards-divider {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-width: 30vw;
}

.control-container {
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    min-height: 10px;
    box-sizing: border-box;
    padding: 10px;
    color: var(--theme);
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .control-container {
        font-size: x-small;
    }
}

.control-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
    margin-bottom: 5px;
}

@media screen and (max-width: 900px) {
    .control-buttons {
        flex-direction: column;
        row-gap: 10px;
    }
}

.number {
    position: absolute;
    top: 20px;
    left: 20px;
}

.position {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.games {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.aggregator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    align-items: center;
}

.aggregator-container h3 {
    margin-top: 20px;
}

.reset {
    background-color: darkred;
    margin-top: 10px;
    width: 30px;
}

button[active = true] {
    background-color: darkred;
}

@media screen and (max-width: 500px) {
    body {
        font-size: x-small;
    }
    .card-info {
        padding: 5px;
    }

    .card-footer {
        max-width: 50px;
    }
}
